<div class="container">
    <div class="about">
        <div class= "info">
        <p>
            <b>Introducing the Vietnamese Calligraphy group</b><br/><br/>
            The group of 5 of us met because we share a great passion for the traditional art of calligraphy of the nation, we together
            established the Vietnamese Calligraphy Club, cherishing to bring Vietnamese calligraphy closer to everyone, especially the young generation, to friends around the world.
            Because of our love for calligraphy, we have conducted many activities to spread the beauty of Vietnamese calligraphy such as:
            Organize calligraphy classes at the beginning of each month at the Club, promote Vietnamese calligraphy to foreign tourists,
            Attend calligraphy and fine arts exhibitions in many parts of the country. For us Vietnamese calligraphy is an art,
            We want to spread the quintessence of the nation to young people so that Vietnamese calligraphy can survive and develop. We are ready to share
            experience, helping young people who are passionate about calligraphy.  </p>
        </div>
        <div class="name">
           <b> Some typical activities of the Vietnamese Calligraphy group </b>
           <ul>
            <li>Regularly opening Vietnamese calligraphy classes at the beginning of each month</li>
            <li>Performing Vietnamese Calligraphy at Student Leaders program and many other programs.</li>
            <li>Participating in giving Calligraphy letters on major occasions at the Temple of Literature - Quoc Tu Giam</li>
            <li>Participating in calligraphy and fine arts exhibitions</li>
            <li>Guest - Speaker: Share at the Student Forum</li>
           </ul><br/>
          <b>Contact information for the Vietnamese Calligraphy group: </b>
            <ul>
                <li>Dang Dinh Loc</li>
                <li>Nguyen Manh Hung</li>
                <li>Dang Thi Thanh Mai</li>
                <li>Nguyen Hung Phi</li>
                <li>Dang Viet Hung</li>
            </ul><br/>
            Head office: No. 8 Ton That Thuyet - My Dinh - Hanoi<br/>
            Phone/ Zalo: 0987654321.  <br/>
            Website: www.thuphapcuanguoiviet.vn<br/>
            Email: thuphapcuanguoiviet@gmail.com          |
        </div>   
    </div>
</div>

<style>
    .about{
        background-image: url('assets/bg-body2.jpg');
        margin-top: 40px;
        font-size: 24px;
        padding-bottom: 50px;
        padding-top: 30px;
    }
    .info p{
        padding: 20px 30px;
        text-align: justify;
    }
    .info b{
        font-size: 40px;
       
    }
    .name {
        padding: 20px 30px;
        text-align: justify;
    }
    .name b{
        color: red;
    }
    .name ul li{
        list-style-type: disc;
        
    }
    .name ul{
        padding-left: 100px;
    }
</style>