<div class="container">
    <div class="club">
        <h2 class="text-center">Vietnamese calligraphy club</h2>
        <ul>
            <li>Do you love calligraphy?</li>
            <li>Do you want to meet and exchange your passion for calligraphy with people with similar interests?</li>
            <li>Do you want to compose calligraphy works?</li>
        </ul>
        <p>Come to the Vietnamese Calligraphy Club, the club is a voluntary organization that gathers all individuals who love
            prefer,
            passionate, capable and dedicated to developing the art of Vietnamese calligraphy.
            Therefore, this is a useful and creative cultural and artistic playground with the goal of learning and theoretical research on art
            Vietnamese calligraphy because
            The common purpose is to serve the development of this art, improve spiritual life according to values
            of Truthfulness - Compassion - Beauty - Peace,
            contribute to preserving and promoting the nation's traditional culture.</p>
        <div class="row">
            <div class="col-2 text-center">
                <img src="assets/clb-logo.png" style="width: 100%; text-align: center;" alt="" class="">
            </div>
            <div class="col-8 text-center">
                <b>CALLIGRAPHY CLUB OF VIETNAMESE<br />
                    Learn letters to be human, practice words to get results!</b>
                <br /><br />
                ĐT: 0987654321<br />
                8 TON THAT THUYET - MY DINH - TU LIEM - HA NOI<br />
                thuphapcuanguoiviet@gmail.com - www.thuphapcuanguoiviet.vn
            </div>

            <div class="col-2">
                <img src="assets/clb-logo.png" style="width: 100%; text-align: center;" alt="" class="">
            </div>
        </div>

        <div class="row text-center">
            <p></p>
            <b style="padding-bottom: 30px;">SOME PICTURES OF CLUB ACTIVITIES</b>
            <div class="col-6">
                <img src="assets/clb1.jfif" alt="Thành viên chụp ảnh nhân ngày ra mắt câu lạc bộ" class="">
                <p style="text-align: center; font-style: italic;">The member took a photo on the club's debut day</p>
            </div>
            <div class="col-6">
                <img src="assets/clb6.jfif" alt="" class="">
                <p style="font-style: italic; text-align: center;">The club president speaks</p>
            </div>
        </div>
        <div class="row text-center">
            <p></p>
            <div class="col-6">
                <img src="assets/clb2a.jpeg" alt="Thành viên chụp ảnh nhân ngày ra mắt câu lạc bộ" class="">
                <p style="font-style: italic; text-align: center;">Club members make the work</p>
            </div>
            <div class="col-6">
                <img src="assets/clb4a.jpeg" alt="" class="">
                <p style="font-style: italic; text-align: center;">Club members give letters to fans</p>
            </div>
        </div>
        <div class="row text-center">
            <p></p>
            <div class="col-6">
                <img src="assets/clb3.jpg" alt="Thành viên chụp ảnh nhân ngày ra mắt câu lạc bộ" class="">
                <p style="font-style: italic; text-align: center;">Club members write for fans</p>
            </div>
            <div class="col-6">
                <img src="assets/clb5.jpg" alt="" class="">
                <p style="font-style: italic; text-align: center;">Newly completed work side</p>
            </div>
        </div>
    </div>
</div>


<style>
    .club h2 {
        color: red;
        font-size: 42px;
    }

    .club {
        background-image: url('assets/bg-body2.jpg');
        margin-top: 40px;
        font-size: 24px;
        padding-bottom: 90px;
        padding-top: 30px;
    }

    .club ul {

        padding-left: 80px;
    }

    .club ul li {
        list-style: disc;
    }

    .club p {
        text-align: justify;
        padding: 20px 30px;
    }

    img {

        width: 80%;
        height: 100%;

    }
</style>