<div class="main container">
  <div ng-include="'components/Banner-top.htm'"></div>
  <div class="main-content">
      <div class="intro" id="intro">

          <div class="row">
              <h3 style="margin-top: 50px">History of Vietnamese Calligraphy</h3>
              <div class="col-lg-6 col-12">
                  <p>Calligraphy originally meant a method of writing letters accurately and beautifully, but over
                      time, calligraphy has gone beyond its original meaning and has become the art of stylized
                      writing, creating artistic images. express the deep meaning of the author. Calligraphy
                      originally came from China and was introduced to Vietnam in the early years of the Han Dynasty.
                      The first Vietnamese calligraphy work to be found is the inscription "Đại Tuỳ Cửu Chân quận Bảo
                      An đạo tràng chi bi văn", emblazoned with the word "triện" on the forehead of the stele
                      in Truong Xuan village (Thanh Hoa). This Calligraphy work is currently on display at the history
                      museum.</p>
              </div>
              <div class="col-lg-6 col-12 ">
                  <img src="assets/history/pic1.jpg" alt=""
                      style="width: 82%; height:77%;margin-top: 8%;margin-left: 4%;">
              </div>
              <div class="row">
                  <div>
                      <p>
                          The history of the formation of the art of Chinese calligraphy in Vietnam is similar to
                          calligraphy in China, but the aesthetic expression has relatively different points such as:
                          The pen is soft but not weak and deep. no sediment, launch without frenzy. To be able to
                          write calligraphy in Chinese characters, the writer needs to be knowledgeable about the
                          meanings of the characters, have a deep knowledge of the combination and distribution of
                          shapes, and shape the letters through each line.
                      </p>

                  </div>
              </div>




              <div ng-include="'components/Line.htm'"></div>
              <div class="row">
                  <h3>Modern Vietnamese calligraphy art</h3>

                  <p>Along with time, Quoc Ngu script was born with Latin letters, many Vietnamese people wanted to
                      write beautiful letters and Vietnamese Latin calligraphy also began to appear from there. The
                      appearance of modern Vietnamese calligraphy is a creative breakthrough in national art, when it
                      is both innovative with the use of Latin letters and boldly traditional with an ancient art
                      style. . Unlike the art of Chinese calligraphy, Vietnamese calligraphy is not within the
                      framework but is more liberal and disruptive. Expressiveness in Vietnamese calligraphy art is
                      quite clear, the writer's aesthetic as well as the taste of the audience is often towards
                      simplicity, harmony, simplicity, poetic and romantic quality. The content in Vietnamese
                      calligraphy is usually folk songs, proverbs, the teachings of famous people, lyrical poems...
                      Each Vietnamese calligraphy work depends on the feelings and inner thoughts of the writer.
                      created when it is a painting with gentle and elegant nuances, but sometimes it is a smoky and
                      smoky painting ... making the viewer of the painting seem to be lost in the world of quiet and
                      quiet art.</p>
                  <div class="col-lg-6 col-12">
                      <img src="assets/history/pic14.jpg" alt=""
                          style=" height: 65%;width: 95%;margin-top: 18%;margin-left: 5%;">
                  </div>
                  <div class="col-lg-6 col-12">
                      <p>
                          Vietnamese calligraphy is shown on many materials such as paper, cloth, wood, stone, fruit,
                          bamboo paintings, mosaics and even on ceramics. Vietnamese calligraphy is popularized, going
                          in two directions: The first direction, comes from the nostalgia of a time when the Chinese
                          and Nom characters reigned. Artisans have expressed the form of Vietnamese characters (with
                          Latin letters) in circular or square blocks of Chinese characters or in a "reversed" script
                          that is easily readable only from the back of the page. The second direction, expressing the
                          form of Vietnamese characters in the form of a script originally from the West used for the
                          Latin alphabet system. In this trend there is a breakthrough creativity when combining the
                          spirit of the brush with the national language handwriting to create the modern Vietnamese
                          calligraphy art that we see today. In recent years, "Vietnamese calligraphy" and "Quoc Ngu"
                          calligraphy (Latin script) have begun to flourish and become a fairly strong development
                          movement.
                      </p>
                  </div>
              </div>
              <div ng-include="'components/Line.htm'"></div>
              <div class="row">
                  <h3>Calligraphy in Vietnamese life</h3>
                  <div class="col-lg-6 col-12">
                      <img src="assets/history/pic6.jpg" alt=""
                          style="height: 80%; width: 90%;margin-top: 7%;margin-left: 8%;">
                  </div>
                  <div class="col-lg-6 col-12">
                      <p>Vietnamese calligraphy not only appears on cards given to friends in the early spring, asking
                          for words on calendars, on decorative products, or in word festivals during Tet. popular in
                          nostalgic spaces such as tea ceremony shops, folk art clubs... In addition, many families
                          also choose to hang calligraphy paintings as a form of decoration, creating harmony for the
                          family. house. In order to expand the art of Calligraphy so far, many clubs, calligraphy
                          classes have been opened to attract more and more young people to study...
                  </div>
              </div>
              <div ng-include="'components/Line.htm'"></div>
              <div class="row">
                  <h3>The meaning of Vietnamese calligraphy</h3>
                  <div class="col-lg-6 col-12">
                      <p>
                          Since ancient times, Vietnam is a country that always upholds the level of education,
                          upholds the personality of the literate. That is why since ancient times, the art and
                          aesthetics of calligraphy have been highly valued, because it is difficult to learn to write
                          beautiful and soulful calligraphy. People who are passionate about calligraphy are usually
                          people with a noble, pure soul, and a very strong character. The beauty of the work is not
                          only expressed through the text but also through the soul of the author. </p>
                      <img src="assets/history/pic7.png" alt=""
                          style="height: 49%;width: 75%;margin-top: 4%;margin-left: 14%;">
                  </div>
                  <div class="col-lg-6 col-12">
                      <p>
                          Calligraphy practice is also personality training, people who learn to write calligraphy
                          will use the beauty of words to train their souls to become beautiful. As for the people who
                          see the works of calligraphy, they will appreciate the beauty of the words to enrich their
                          spiritual life. Therefore, in order to be able to forge calligraphy, learners need to have a
                          clear understanding of the origins of the arts and aesthetics department, and at the same
                          time, they must be people with beautiful and pure souls.
                      </p>


                      <img src="assets/history/pic8.png" alt=""
                          style="height: 48%;width: 69%;margin-top: 4%;margin-left: 14%;">
                  </div>
              </div>
              <div ng-include="'components/Line.htm'"></div>
              <div class="row">
                  <h3>Ways of writing in Vietnamese calligraphy</h3>
                  <h4>Letter "chân phương"</h4>
                  <div class="col-lg-6 col-12">
                      <p>
                          This is the most common writing style in Vietnamese calligraphy. letter "chân phương" is
                          very convenient to write, easy to read, with clarity, clarity, and flexibility between
                          different bold and light strokes. Because it is very convenient to write and read, people
                          often use letter "chân phương" a lot, this type of script is very popular and strongly
                          developed.
                      </p>
                  </div>
                  <div class="col-lg-6 col-12">
                      <img src="assets/history/pic9.png" alt=""
                          style="height: 82%;width: 77%;margin-top: 2%;margin-left: 12%;">
                  </div>
                  <h4>Letter "cách điệu"</h4>
                  <div class="col-lg-6 col-12">
                      <img src="assets/history/pic10.jpg" alt=""
                          style="height: 82%;width: 77%;margin-top: 5%;margin-left: 12%;">
                  </div>
                  <div class="col-lg-6 col-12">
                      <p>
                          This type of lettering is used to make letters to represent different images. You can also
                          freely create and transform the words into the images that the writer wants to convey and
                          describe. The feature of letter "cách điệu" is that it can deceive the viewer's eyes,
                          because
                          this is a work that is heavier on the image than on the text. Although letter "cách điệu"
                          are
                          difficult to write and also difficult to read, when looking at the words, you can easily
                          feel the author's mind expressed through hidden images in the work.
                      </p>
                  </div>
                  <h4>Letter "Thảo"</h4>
                  <div class="col-lg-6 col-12">
                      <p>
                          "Thảo" is a Vietnamese calligraphy style that expresses the soul of each word more than the
                          meaning of the words. When writing "Thảo", the writer can be very arbitrary and liberal,
                          always containing a lot of the writer's inner strength. However, because the font is a bit
                          arbitrary, it is often difficult for readers to recognize the font. Therefore, when viewers
                          look at calligraphy works written in the letter "Thảo" style, it often takes a lot of time
                          to be
                          able to read the author's handwriting. There is even a case where the viewer cannot read the
                          author's handwriting anymore. However, Vietnamese calligraphy works in the letter "Thảo"
                          style
                          are often very artistic and aesthetic and attract the attention of many viewers.
                      </p>
                  </div>
                  <div class="col-lg-6 col-12">
                      <img src="assets/history/pic11.jpg" alt=""
                          style="height: 76%;width: 76%;margin-top: 9%;margin-left: 11%;">
                  </div>
              </div>
              <div ng-include="'components/Line.htm'"></div>
              <div class="row">
                  <h3>A brief overview of calligraphy from countries around the world</h3>
                  <h4>1. Calligraphy in China</h4>
                  <div class="col-lg-6 col-12">
                      <p>
                          Calligraphy in China is very developed <br>
                          This is considered the pinnacle of art and aesthetics with great traditional cultural
                          significance, which has been strongly developed to this day in China.
                      </p>
                  </div>
                  <div class="col-lg-6 col-12">
                      <img src="assets/history/pic12.png" alt=""
                          style="height: 80%;width: 79%;margin-top: 2%;margin-left: 9%;">
                  </div>
                  <h4>2. Calligraphy in Japan</h4>
                  <p>Calligraphy in Japan is a favorite art and aesthetic discipline of many Zen masters. Therefore,
                      Zen masters are the people who write the most calligraphy, this discipline is also known as
                      calligraphy and is always associated with the art and aesthetics of Zen Buddhism. Japanese
                      calligraphy often emphasizes the meaning of the words rather than the images, the characters are
                      usually very liberal, free, and bold in the colors of many Japanese Zen masters.
                  </p>
                  <img src="assets/history/pic13.jpg" alt=""
                      style="height: 15%;width: 74%;margin-top: -1%;margin-left: 13%;">
                  <h4>3. Calligraphy in Muslim countries</h4>
                  <div class="col-lg-6 col-12">
                      <p>
                          Calligraphy is also a very developed art and aesthetics in Muslim countries, especially
                          Arab. In this country, calligraphy is like an aspect of Islam that developed in tandem with
                          Islam and the Arabic language. Calligraphy is also used a lot to decorate walls, beams in
                          Muslim holy places or book covers and pages in the Bible. Compared to Muslims, calligraphy
                          is not simply an art. artistic and aesthetic but it is also the expression of the noblest
                          artistic and aesthetic scale. The art and aesthetics of the spiritual world. That is why
                          calligraphy is very important in Muslim countries.
                      </p>
                  </div>
                  <div class="col-lg-6 col-12">
                      <em>
                          <img src="assets/history/pic17.png" alt=""
                              style="height: 73%;width: 80%;margin-top: 7%;margin-left: 6%;"><br>
                          Arabic calligraphy appears a lot in the bible.
                      </em>
                  </div>
                  <h4>4. Calligraphy in Western countries</h4>
                  <p>Calligraphy in the West has different characteristics compared to calligraphy in Asian countries.
                      Instead of the cursive style commonly found in calligraphy in Asian countries, the calligraphy
                      of many Western countries is often refined according to proportions and standards. Along with
                      that, calligraphy in Western countries often emphasizes the problem on the necessary topics.
                      There are many means to be able to write Western calligraphy such as rulers, compasses, brushes,
                      irons, eke, etc.</p>

                  <img src="assets/history/pic18.png" alt=""
                      style="height: 15%;width: 74%;margin-top: -1%;margin-left: 13%;">

                  <div ng-include="'components/Line.htm'"></div>
                  <h3>Thus, in the content of the above article, we have provided you with extremely useful
                      information related to some characteristics and meanings of Vietnamese calligraphy as well as
                      some countries in the world. Hopefully, after a period of reading the above article, you will
                      have more experience and knowledge to be able to practice writing calligraphy more and more.
                  </h3>
              </div>
          </div>
      </div>

  </div>
</div>

<style>
  .main-content .intro {
      font-size: 24px;
      color: #fff;
      padding-bottom: 10px;
  }

  .main-content .intro {
      margin-top: 50px;
      background-image: url('assets/bg-heading.jpg');
  }

  .main-content .intro h2 {
      text-align: center;
      font-family: VNI-HLThuphap;
      line-height: 70px;
      color: var(--app-color);
  }

  .main-content .intro h3 {
      margin-bottom: 40px;
      color: var(--app-color);
      text-align: center;
      font-size: 45px;
  }

  .main-content .intro h4 {
      font-size: 30px;
      color: rgba(236, 229, 13, 0.879);
      margin-top: 10px;
      margin-bottom: 30px;
  }

  .main-content .intro p {
      padding: 24px;
  }
</style>