<div class="main container">

    <div class="main-content">
        <div class="intro" id="intro">

            <div class="row">
                <h3 style="margin-top: 50px">Beautiful calligraphy font with detailed download link</h3>
                <img src="assets/fontthuphap/pic1.jpg" alt=""
                    style="height: 50%; width:75%; margin-top: 1%; margin-left: 12%;margin-bottom: 2%;">
                <p>
                    Calligraphy fonts are always used by many people. In order to write beautiful couplets, cards,
                    photos, signs become eye-catching. And calligraphy fonts are the best choice. Let's learn some
                    beautiful calligraphy fonts with <b style="color: red;">Scratchy Nib </b>
                    and how to install this font on your computer.</p>
                <div ng-include="'components/Line.htm'"></div>
            </div>
            <div class="row">
                <h3>1. What is a calligraphy font?</h3>
                <div class="col-lg-6 col-12 ">
                    <img src="assets/fontthuphap/pic2.jpg" alt=""
                        style="width: 92%; height:76%;margin-top: 10%;margin-left: 9%;">
                </div>
                <div class="col-lg-6 col-12 ">
                    <p>
                        Calligraphy font includes a lot of beautiful fonts, this font set offers dozens of unique font
                        styles for users to choose from. <br>

                        A list of beautiful fonts will appear and you can simply apply any typeface to the pre-made
                        text. Is being able to turn them into new and unique font formats instantly.<br>

                        The ink strokes are created like when using ink pen to write letters on paper that the painters
                        usually do. Young people today are always fascinated with the words dragon flying phoenix
                        dancing of the old men. But to learn how to create calligraphy is not easy, requires a lot of
                        practice time. <br>

                        Now, with the calligraphy font set, you don't need to learn. You can still create beautiful
                        artistic text right on your computer.
                    </p>
                </div>
            </div>
            <div ng-include="'components/Line.htm'"></div>
            <div class="row">
                <h3>2. Outstanding features of calligraphy fonts</h3>
                <p>Photo editing software such as Photoshop, Paint, ... Help you create many lines, puzzles with the
                    most beautiful artistic handwriting to share on today's social networks such as Facebook or Zalo
                    ...<br>

                    Calligraphy is a precious asset of our nation that has been handed down through generations. With
                    this calligraphy font tool, users can memorize and preserve that property. Create calligraphic texts
                    to print as pictures or as gifts for friends on holidays and Lunar New Year</p>
            </div>
            <div ng-include="'components/Line.htm'"></div>
            <div class="row">
                <h3>3. Some calligraphic fonts are used a lot</h3>
                <h4>3.1. VNI Quang Ninh</h4>
                <img src="assets/fontthuphap/pic3.jpg" alt=""
                    style="width: 75%; height:75%;margin-top: 0%;margin-left: 12%;">
                <p>Font Quang Ninh Calligraphy VNI was first introduced in 2007, renewed and updated by the author in
                    2010. Since then, Quang Ninh ThuPhap Font has been passed down through generations. The name of the
                    font set is also the name of the author Quang Ninh.<br>
                    This calligraphic font type shows relatively clearly the strokes, is one of the beautiful fonts that
                    are preferred by the top designers.
                    <br> You can download the font: <a
                        href="https://www.ddth.com/showthread.php/427211-DOWNLOAD-Font-VNI-Th%C6%B0-Ph%C3%A1p-QuangNinh">
                        <u> Click here</u> </a>
                </p>
                <h4>3.2. VNIThufapfan</h4>
                <img src="assets/fontthuphap/pic4.png" alt=""
                    style="width: 75%; height:75%;margin-top: 0%;margin-left: 12%;">
                <p>The strokes are displayed quite clearly through the calligraphic font VNIThufapfan and are popularly
                    used by designers. <br>
                    Free download calligraphy font: <a href="https://download.com.vn/font-vni-thu-phap-5376">
                        <u>Click here.</u></a>
                </p>
                <h4>3.3. Font TMC-Ong Do</h4>
                <img src="assets/fontthuphap/pic5.jpg" alt=""
                    style="width: 75%; height:75%;margin-top: 0%;margin-left: 12%;">
                <p>
                    Do you often see Mr. Do writing letters on the street. The font of this font is the same. This font
                    set is popularly used in writing poems and prose hanging in the house.<br>
                    Free download calligraphy font: <a href="https://www.wfonts.com/font/tmc-ong-do">
                        <u>Click here.</u></a>
                </p>
                <h4>3.4. Font VNIHLThuphap</h4>
                <img src="assets/fontthuphap/pic6.png" alt=""
                    style="width: 75%; height:75%;margin-top: 0%;margin-left: 12%;">
                <p>
                    Calligraphic font VNIHLThuphap belongs to an extremely ancient font type, which is often used. You
                    can unexpectedly meet it right on the street at nostalgic signs and cafes. <br>
                    Free download calligraphy font: <a href="https://download.com.vn/font-vni-thu-phap-5376">
                        <u>Click here.</u></a>
                </p>
                <h4>3.5. Font VNIBaybuom</h4>
                <img src="assets/fontthuphap/pic7.jpg" alt=""
                    style="width: 75%; height:75%;margin-top: 0%;margin-left: 12%;">
                <p>
                    Just by hearing the name, you can tell how this font is. Lines are misaligned and may not be
                    aligned, with no rules or order. However, this is the unique point that makes many people love
                    VNIBaybuom.<br>
                    Free download calligraphy font: <a href="https://taimienphi.vn/download-font-thu-phap-8221">
                        <u>Click here.</u></a>
                </p>
                <h4>3.6. Font Thufap02</h4>
                <img src="assets/fontthuphap/pic8.jpg" alt=""
                    style="width: 75%; height:75%;margin-top: 0%;margin-left: 12%;">
                <p>
                    Font Thufap02 is used quite commonly in many invitation cards because of its easy-to-see,
                    easy-to-read, and harmonious handwriting. <br>
                    Free download calligraphy font: <a href="https://taimienphi.vn/download-font-thu-phap-8221">
                        <u>Click here.</u></a>
                </p>
                <h4>3.7. Font VNI Trung Kien</h4>
                <img src="assets/fontthuphap/pic9.png" alt=""
                    style="width: 75%; height:75%;margin-top: 0%;margin-left: 12%;">
                <p>
                    VNI Trung Kien calligraphy font makes full use of rarely used characters on the keyboard such as: `
                    ~ # $ % ^ & {}[]<>… the characters f, F, j, J, w, W … not used in the Vietnamese alphabet. And
                        especially for Vietnamese calligraphy to add characters such as h, g, t ... so that the user has
                        many characters to satisfy the requirements to create the "real goods" resemblance, which can be
                        said to be the style of the calligraphy <br>

                        Even the number keys 0-9 are also used to create an extra set of accents for those who are using
                        the Telex omitting method. But those who use VNI typing method, usually the Central and Southern
                        regions, cannot take advantage of this advantage because it is not convenient to enter. <br>
                        Free download calligraphy font: <a href="https://www.wfonts.com/font/vni-trung-kien">
                            <u>Click here.</u></a>
                </p>
                <h4>3.8. Font UTM Thien An</h4>
                <img src="assets/fontthuphap/pic10.png" alt=""
                    style="width: 75%; height:75%;margin-top: 0%;margin-left: 12%;">
                <p>
                    This UTM Thien An calligraphy font Dinh Kien made for personal use. And sharing is aimed at users
                    who are print designers. More or less proficient with vector graphics software such as Corel,
                    Illustrator. This is the most used typeface and is often found in couplets, calligraphy paintings.
                    <br>

                    Although this calligraphy font has been used Kerning feature. To adjust the spacing of characters
                    and accents. But if you want to get "real" calligraphic works like the demo above, it takes a bit of
                    work.<br>

                    After entering the text, if you don't like it somewhere, use a tool like the Shape Tool (F10) in
                    Corel to adjust the distance between the characters. <br>

                    For users into word processing programs such as Microsoft's MS Word. Need to use the Kerning feature
                    in the Format Font section. So that the spacing of the letters will be adjusted more beautiful.
                    <br>
                    Free download calligraphy font: <a
                        href="https://taimienphi.vn/download-font-thu-phap-thien-an-91384">
                        <u>Click here.</u></a>
                </p>
                <h4>3.9. Font HL Thuphap 4BK</h4>
                <img src="assets/fontthuphap/pic11.jpg" alt=""
                    style="width: 75%; height:75%;margin-top: 0%;margin-left: 12%;">
                <p>
                    With a rather stiff font, HL Thuphap 4BK is used by many people. Because the font design is easy to
                    read and can be used in many cases. <br>
                    Free download calligraphy font: <a href="https://taimienphi.vn/download-font-thu-phap-8221">
                        <u>Click here.</u></a>
                </p>
                <h4>3.10. Font Cong Thuy</h4>
                <img src="assets/fontthuphap/pic12.jpg" alt=""
                    style="width: 75%; height:75%;margin-top: 0%;margin-left: 12%;">
                <p>
                    The entire set of extremely unique Cong Thuy calligraphy fonts is used to design specifically for
                    Tet calendars and spring cards. Calligraphy font is designed for wedding invitation templates.
                    Especially for screen printing The font is elaborately designed. Contour accuracy when converting
                    further in characters. <br>

                    This calligraphy font can be used for decoration, spring card, housewarming card, greeting card,
                    advertising design wedding invitation. <br>
                    Free download calligraphy font: <a href="https://taimienphi.vn/download-font-thu-phap-8221">
                        <u>Click here.</u></a>
                </p>
            </div>
            <h3>Epilogue</h3>
            <p>
                Above are the top beautiful calligraphy fonts not to be missed. <b style="color: red;">Scratchy Nib</b>
                hopes that the article will give you meaningful information. Hope you will create beautiful content and
                articles thanks to these calligraphy fonts.
            </p>
        </div>

    </div>
</div>

<style>
    .main-content .intro {
        font-size: 24px;
        color: #fff;
        padding-bottom: 10px;
    }

    .main-content .intro {
        margin-top: 50px;
        background-image: url('assets/bg-heading.jpg');
    }

    .main-content .intro h2 {
        text-align: center;
        font-family: VNI-HLThuphap;
        line-height: 70px;
        color: var(--app-color);
    }

    .main-content .intro h3 {
        margin-bottom: 40px;
        color: var(--app-color);
        text-align: center;
        font-size: 45px;
    }

    .main-content .intro h4 {
        font-size: 30px;
        color: rgba(236, 229, 13, 0.879);
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .main-content .intro p {
        padding: 24px;
    }
</style>