<div class="main container">


    <div class="main-content">
        <div class="intro" id="intro">
            <div ng-include="'components/Line.htm'"></div>
            <div class="row">
                <div class="text-center">
                    <h2 style="font-size: 50px; color: red; margin-bottom: 60px;margin-top: 50px;">
                        Vietnamese calligraphy artists
                    </h2>
                </div>
                <div class="col-lg-6 col-12 text-center">
                    <h2>
                        <span class="icon-1"><i class="fa-solid fa-quote-left"></i></span></br>
                        I'm happy with ink and paper <br>
                        practice calligraphy to keep in mind<br>
                        <span class="icon-1"><i class="fa-solid fa-quote-right"></i></span>
                    </h2>
                    <p>
                        Lurking in the pink color of the shy peach petals, you can still see the shiny, jet-black
                        handwriting from the hands of old and rare old people. Sadness, when the national soul is still
                        imbued with beautiful cultural practices.
                    </p>
                </div>
                <div class="col-lg-6 col-12">
                    <img src="assets/nghenhan/phi1.jpg" alt=""
                        style="height: 81%;width: 73%;margin-top: 8%;margin-left: 9%;">
                </div>
            </div>
            <div ng-include="'components/Line.htm'"></div>
            <div class="row">
                <h3 style="margin-bottom: 50px">The ancestor of Vietnamese calligraphy art</h3>
                <h4>
                    In the 1930s, when Vietnamese people only knew how to write calligraphy in Chinese characters,
                    intellectuals with a deep passion for Vietnamese silently studied how to write calligraphy in the
                    national language script.</h4>
                <div class="col-lg-6 col-12">
                    <p>
                        According to Assoc. Prof. Dr. Vo Van Nhon, former deputy dean of the Faculty of Literature and
                        Languages, University of Social Sciences and Humanities (Vietnam National University, Ho Chi
                        Minh City), many writers in the past looked at the poet Dong Ho (1906-1969). ) was the one who
                        laid the first bricks to build calligraphy in Vietnamese, according to the Latin alphabet.
                        Having spent many years researching poet Dong Ho, also the author of the book Dong Ho - Mong
                        Tuyet (Publishing House of Writers' Association, 1992), Mr. Nhon said that his contemporaries
                        often came to ask the poet to write letters. Poet Quach Tan (1910-1992) once "asked" for Dong
                        Ho's words for the mural to hang in the house. Writer Le Van Sieu (1911-1995) also mentioned:
                        "Every New Year, Dong Ho sends you a card with a poem to celebrate spring". All are in the
                        national language, but written with brush and ink in the style of Chinese calligraphy before. At
                        first, many people found it strange, but later they were quite excited when they received the
                        word from Dong Ho. Through the remaining documents and autographs, adding that Dong Ho was a
                        person who devoted his life to the development of his mother tongue... many people consider Dong
                        Ho as the "ancestor" in the Vietnamese calligraphy world.
                </div>
                <div class="col-lg-6 col-12">
                    <em ">
                        <img src=" assets/nghenhan/phi3.jpg" alt=""
                        style="height: 77%;width: 74%;margin-top: 11%;margin-left: 8%;"> <br>
                        <p style="margin-left: 100px"> Poet Dong Ho, documentary photo.</p>
                    </em>
                </div>
            </div>
            <div ng-include="'components/Line.htm'"></div>
            <div class="row">
                <h3>"Four Pillars of Calligraphy"</h3>
                <h4>Those who are passionate about the art of calligraphy will probably memorize the four words "Hoa,
                    Bach, Nguyen, Com". That is the name of four famous Vietnamese calligraphers known as the "four
                    pillars" of Vietnamese calligraphy:
                    "Thanh hoằng khê" Le XUan Hoa, "Lỗ công" Nguyen Van Bach, "Vĩnh nguyên" lai Cao Nguyen, "Nam ba cầm văn"
                    Cung Khac Luoc.</h4>
                <h4 style="margin-top: 50px">1. "Thanh Hoằng Khuê" Le Xuan Hoa.</h4>

                <div class="col-lg-6 col-12">
                    <p>Calligrapher Thanh Hoang Khe Le Xuan Hoa was born in Phu Khe village, Hoang Khue district (Thanh
                        Hoa). He was born in 1914, in a family with a Confucian tradition, and learned Confucian
                        characters from a young age. <br>
                        He passed away on January 3, 2008, at the age of 95. <br>
                        Many calligraphy works of Le Xuan Hoa have been included in the collection by the Vietnam
                        Revolution Museum. Those are the letters expressing Ly Thuong Kiet's poem Nam Quoc Son Ha; the
                        poem thrift and integrity of President Ho Chi Minh; In addition, the museum also preserves all
                        his calligraphy writing tools such as: ink sharpening, brush, pen holder, Chinese books printed
                        in the early 19th century. .</p>
                </div>
                <div class="col-lg-6 col-12">
                    <img src="assets/nghenhan/phi4.jpg" alt=""
                        style="height: 74%;width: 70%;margin-top: 9%;margin-left: 11%;">
                </div>

                <div class="col-lg-6 col-12">
                    <img src="assets/nghenhan/phi5.jpg" alt=""
                        style="height: 78%;width: 74%;margin-top: 10%;margin-left: 16%;">
                </div>
                <div class="col-lg-6 col-12">
                    <p>
                        Calligraphy Thanh Hoang Khe has all four forms, but his forte is probably drafts and drafts.
                        Calligraphy is the art of using the beauty of writing to express the truth and goodness of
                        thought and soul. Therefore, calligraphers always attach great importance to the height of their
                        thoughts and feelings. It is possible to immediately take eight words: ”Thiết thạch can trường,
                        tinh anh tuyết ngọc” (The spirit is as strong as stone, the soul is as pure and beautiful as the
                        snow like jade) to summarize the spiritual appearance of the painter Le. Xuan Hoa. It is the
                        poetic poem ”Tuyên ngôn độc lập” by Ly Thuong Kiet or the verse ”Cáo tật thị chúng” by
                        "Mãn giác thiền sư", as well as the poem of Thuong Son ”Cử đầu hồng nhật cận, đối ngạn nhất chi
                        mai”.... All of them exude that strong and beautiful quality. The pen strokes are
                        solid, decisive, and the ink color is dense in the beginning words, which can be said to be very
                        typical for Le Xuan Hoa's writing style. The interesting thing is that besides Thu, Thanh Hoang
                        Khe Le Xuan Hoa also has a painting, mainly a sketch.<br>
                    </p>
                </div>
                <p>Besides the calligrapher Thanh Hoang Khe, there is also a teacher - an old teacher - Le Xuan Hoa is
                    still dedicated to teaching and passing on the profession to a class of people who love calligraphy,
                    including students of "cổ lai hi" <br>

                    Calligraphy Thanh Hoang Khe Le Xuan Hoa is a milestone in the history of Vietnamese calligraphy, a
                    remarkable achievement of Han Nom calligraphy, a small but unique part that contributes to the
                    appearance of the traditional culture of the country. <br></p>
                <h4>2. "Lỗ Công" Nguyen Van Bach.</h4>
                <div class="col-lg-6 col-12">
                    <P>
                        Nguyen Van Bach (1924 - 11/11/2021) with the name Lo Cong, was a
                        physician, calligrapher, and translator of Chinese studies. He was born in Nghia Hung commune,
                        Gia Loc district, Hung Yen province, in a family of Han grapes. He learned Chinese characters
                        and learned medicine from his father, a famous Confucian and physician. Growing up, he followed
                        his father's footsteps, becoming a physician to treat people's diseases. For a time, he and his
                        family lived in Hai Phong until 1959, when he took the exam and was recruited along with 28
                        other physicians to become a lecturer in the first oriental medicine class of the Central
                        Institute of Traditional Medicine (now called is the Central Hospital of Traditional Medicine).
                    </P>
                </div>
                <div class="col-lg-6 col-12">
                    <img src="assets/nghenhan/phi6.jpg" alt=""
                        style="height: 78%;width: 72%;margin-top: 6%;margin-left: 11%;">
                </div>
                <div class="col-lg-6 col-12">
                    <img src="assets/nghenhan/phi7.jpg" alt=""
                        style="height: 78%;width: 74%;margin-top: 8%;margin-left: 16%;">
                </div>
                <div class="col-lg-6 col-12">
                    <p>
                        The talented hands of that calligrapher are not God-given. His father, a vinedresser, a healer,
                        worked hard for his son since childhood. He said: “My word is also temporary, not comparable to
                        the word my great-grandfather. The old man's words are as beautiful as dragons and phoenixes
                        dancing, famous near and far." When he was a boy, he learned to write by dipping a pen in water
                        to write on a brick background, then when he was mature, he used ink and paper to write. Later,
                        when he worked in Eastern medicine, he had more conditions to be exposed to Chinese characters.
                        In his spare time, he practiced writing, sometimes he also dreamed of words at night. He gives
                        the word who, always find out what that person matches, when it hangs, it makes sense.
                    </p>
                </div>
                <p>To write a favorite word, it is not always possible to write. You have to think about that word a
                    lot, wait for a cool day, relax your soul, burn incense, drink a glass of slightly ivory wine, then
                    wear your pen as if you're dropping your soul in it. Think long, write very fast. Those words always
                    have a god.
                    <br>Writing is just a hobby. He explained: Writing is fast, but thinking takes longer. Must
                    calculate the size of each pen stroke to balance the lines. Moreover, you must immerse yourself in
                    the word, live in the word, and absorb the beauty of the word in both form and content. Each
                    calligraphy must show the spirit of the writer, if not just a "drawing of words".
                </p>
                <h4>3. "Vĩnh Nguyên" Lai Cao Nguyen.</h4>
                <img src="assets/nghenhan/phi9.jpg" alt=""
                    style="height: 21%;width: 62%;margin-top: 1%;margin-left: 18%;">
                <p>
                    Scholar, calligrapher Vinh Nguyen - Lai Cao Nguyen was born in 1929 in Lam Khe hamlet, An Binh
                    commune (now Dong Kinh commune) Dong Quan district (now Dong Hung district) Thai Binh province. Born
                    into a family with a tradition of studiousness, he learned Confucianism at an early age. Being
                    gifted, he easily absorbed the instruction of his father and uncle. <br>

                    At the time when Chinese characters began to lose importance, the Confucian examinations were
                    gradually replaced by French New School, Lai Cao Nguyen still spent a lot of time studying,
                    researching and studying ancient Han books. Vietnamese poetic works written in Han Nom script.
                    Because he thinks this is the "key" to deeply understand the quintessence of the country's
                    literature of sages such as Ba Huyen Thanh Quan, Nguyen Du, Nguyen Trai,...<br>
                    He was a literate Confucian, studied Chinese characters from the age of 6, joined the resistance
                    war, and after 3 years of training in linguistics in China. In 1953, he was sent to study in
                    Nanning, China, studied Chinese Pedagogy and then returned to work as a lecturer at History
                    Department - Hanoi University. In 1957, he was a lecturer of Chinese at the Faculty of Foreign
                    Languages, Hanoi National University of Education. Later, as Dean of the Chinese Department -
                    University of Foreign Languages ​​(University of Foreign Languages), he participated in researching
                    and compiling many books, textbooks, Vietnamese - Chinese dictionaries, "hán nôm".
                </p>
                <img src="assets/nghenhan/phi8.jpg" alt=""
                    style="height: 15%;width: 63%;margin-top: -1%;margin-left: 17%;">
                <p>
                    Mr. Lai Cao Nguyen is considered a calligrapher with a contemplative style, erudite study, extensive
                    knowledge of Han Nom script. He once shared: “The art of calligraphy written in Han Nom requires the
                    writer to be very delicate, with a heart and a mind. There is a gentle handwriting like a gentle
                    breeze, gentle but free from vulgarity. There is a strong, resilient feature like to suppress evil,
                    immediately erase evil, evil has not arisen in the mind... Not only is it a common elegant pleasure,
                    this art is also a place for people to enjoy. The calligrapher conveys Eastern philosophies, conveys
                    his feelings, emotions, and profound outlook on life. For Mr. Nguyen, giving the first letter of the
                    year is a long-standing traditional cultural beauty of the Vietnamese people. Each word is drawn on
                    paper like "pearls" conveying the thoughts and feelings of the writer. As the editor and translator
                    of many reference books such as: The Sino-Vietnamese dictionary, the Sino-Vietnamese handbook, The
                    History of Primitive Culture...Teacher Lai Cao Nguyen is still diligently researching every day, for
                    many years helping generations of students who love to learn about the art of writing Han Nom
                    characters. He also collaborates with leading experts and staff from the Institute of Han Nom and
                    Linguistics at universities and colleges across the country to advise and organize many seminars and
                    exhibitions. , dialogue displays Han Nom characters, attracting many young people to visit. It can
                    be said that Han Nom calligraphy is the predestined relationship that is the driving force for Vinh
                    Nguyen - Lai Cao Nguyen to practice hard, reach the level of "fine calligraphy", constantly create
                    and give life a beautiful painting. .
                </p>
                <h4>4. "Nam ba cầm văn" Cung Khac Luoc.</h4>
                <p>With Dr. Cung Khac Luoc, in addition to the traditional rules and regulations, he is also famous as a
                    calligrapher in a disruptive style with a liberal layout, clearly showing the author's talent and
                    romance. <br>
                    From an early age, the boy Luoc was taught the Quoc Ngu script, the Nho script, the Nom script and
                    the French language. When he grew up, he studied under Le Dai and Tu Long - the key figures of the
                    Dong Kinh Nghia Thuc movement. After graduating from Hanoi National University of Education, he was
                    assigned to the Viet Bac Autonomous Region to build the school.</p>
                <img src="assets/nghenhan/phi10.jpg" alt=""
                    style="height: 15%;width: 74%;margin-top: -1%;margin-left: 13%;"> <br>
                <p>Each calligrapher always has two sympathetic people, that is, the brain and intellect of the giver
                    meets the heart and soul of the recipient. "Calligraphy" is "magic of words". <br>

                    The art of calligraphy requires the writer to have both hands and fingers, and to understand the
                    deep and profound meaning of the word, so that the spirit of the word and the personality of the pen
                    holder can be expressed.
                    <br>

                    With Dr. Cung Khac Luoc, in addition to the traditional rules and regulations, he is also famous as
                    a calligrapher in a disruptive style with a liberal layout, clearly showing the author's talent and
                    romance. There were times when he was dressed in a red brocade robe, sitting solemnly like a monk in
                    a commentary session, sometimes wearing an old dark robe, a brown beanie on his head, leather
                    sandals on his feet, floating on each step. The page on the corner of the street seems to forget
                    everything in the world...<br>

                    In the air full of spring, the calligrapher Cung Khac Luoc is still busy launching pen on each page,
                    bringing to life talented handwriting, containing thoughts, experiences and even wishes in a new
                    spring. - Spring of human life, of faith and hope.
                </p>
                <div class="col-lg-6 col-12">
                    <img src="assets/nghenhan/phi11.jpg" alt=""
                        style="height: 96%;width: 74%;margin-top: -1%;margin-left: 18%;">
                </div>

                <div class="col-lg-6 col-12">
                    <img src="assets/nghenhan/phi12.jpg" alt=""
                        style="height: 96%;width: 74%;margin-top: -1%;margin-left: 8%;">
                </div>
                <div ng-include="'components/Line.htm'"></div>

                <h3></h3>
            </div>



        </div>
    </div>

</div>
</div>

<style>
    .main-content .intro {
        font-size: 24px;
        color: #fff;
        padding-bottom: 10px;
    }

    .main-content .intro {
        margin-top: 50px;
        background-image: url('assets/bg-heading.jpg');
    }

    .main-content .intro h2 {
        font-family: VNI-HLThuphap;
        line-height: 70px;
        color: var(--app-color);
    }

    .main-content .intro h3 {
        color: var(--app-color);
        text-align: center;
        margin-bottom: 2%;
    }

    .main-content .intro p {
        padding: 20px;
    }

    .main-content .intro h4 {
        color: yellow;
        padding-left: 2%;
    }
</style>