<button class="btn-up" ng-click="upTopPage()">
    <i class="fa-solid fa-arrow-up"></i>
</button>

<style>
.btn-up {
    border: none;
    position: fixed;
    top: 70%;
    right: 10px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(225, 225, 225, 0.4);
    font-weight: bold;
    border-radius: 50%;
    line-height: 70px;
    font-size: 36px;
    text-align: center;
}
.btn-up:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 38px;
}
</style>