<footer class="container">
    <div class="frame">
        <div class="frame-top-left"></div>
        <div class="frame-top-right"></div>
        <div class="frame-bottom-left"></div>
        <div class="frame-bottom-right"></div>

        <div class="row">
            <div class="col-lg-3 col-12">
                <h5>Scratchy Nib</h5>
                <h6>Calligraphy of Vietnamese people</h6>
                <div ng-include="'components/Menu.htm'"></div>
            </div>
            <div class="col-lg-3 col-12 d-flex align-items-center my-lg-0 my-5">
                <div ng-include="'components/Logo.htm'"></div>
                <div class="ms-5">
                    <p>Scratchy Nib</p>
                    <p>Calligraphy of Vietnamese people</p>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <h5>Connect with us</h5>
                <ul>
                    <li>Phone: 0987654321</li>
                    <li>Email: thuphapcuanguoiviet@gmail.com</li>
                    <li>Facebook: <a href="#" class="text-decoration-underline">Thu Phap Cua Nguoi Viet</a></li>
                    <li>Address: 8 Ton That Thuyet - My Dinh - Tu Liem - Ha Noi</li>
                </ul>
            </div>
            <div class="col-lg-3 col-12 mt-lg-0 mt-2">
                <div class="mapouter">
                    <div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no"
                            marginheight="0" marginwidth="0"
                            src="https://maps.google.com/maps?width=548&amp;height=200&amp;hl=en&amp;q=FPT Aptech Hà Nội - Hệ Thống Đào Tạo Lập Trình Viên Quốc Tế (Since 1999), Số 8A Tôn Thất Thuyết, Mỹ Đình, Nam Từ Liêm, Hà Nội 100000&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a
                            href="https://piratebay-proxys.com/">Pirate bay proxy</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
        margin-top: 50px;
    }

    footer .frame {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    footer .menu li a {
        padding: 0;
    }

    .mapouter {
        position: relative;
        text-align: right;
        width: 100%;
        height: 200px;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        width: 100%;
        height: 200px;
    }

    .gmap_iframe {
        height: 200px !important;
    }
</style>