<ul class="category">
  <h5>List of works</h5>
  <li><a href="#!lich-su">Introduction to calligraphy</a></li>
  <li><a href="#!nghe-nhan">Vietnamese calligraphy artist</a></li>
  <li><a href="#!kieu-chu">Calligraphy letter samples</a></li>
 </ul>
<style>
  .category {
    padding: 20px 0;
    width: 100%;
    /* display: flex; */
  }

  .category h5 {
    color: var(--app-color);
    text-align: center;
  }

  .category li {
    height: 100%;
  }

  .category li a {
    padding: 10px 20px;
  }
</style>
